# Server
HOST=0.0.0.0
PORT=1337

# Preview
CLIENT_URL=http://localhost:3000
PREVIEW_SECRET=your-preview-secret-key


# Secrets
APP_KEYS=your-app-key-1==,your-app-key-2==,your-app-key-3==,your-app-key-4==
API_TOKEN_SALT=your-api-token-salt==
ADMIN_JWT_SECRET=your-admin-jwt-secret==
TRANSFER_TOKEN_SALT=your-transfer-token-salt==
ENCRYPTION_KEY=your-encryption-key==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=./database/data.db
JWT_SECRET=your-jwt-secret==
